<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
    <!-- Bootstrap CSS -->
    <link href='http://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type='text/css'
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
        integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />

    <!-- Custom CSS -->
    <link href="{{ asset('css/master.css') }}" type="text/css" rel="stylesheet" />
    {% endblock stylesheets %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}" />

    <title>{% block title %}Welcome!{% endblock %}</title>
</head>

<body>
        {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark">
                    <a href="{{ path('homepage') }}" class="navbar-brand"><img src="{{ asset('images/logo.png') }}" alt="{{ '_nav.logo'|trans }}"></a>
                    <button class="navbar-toggler" type="button" data-target="#navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a href="{{ path('homepage') }}" class="nav-link"> {{ 'nav.home'|trans }} </a>
                            </li>
                              <li class="nav-item active">
                                <a href="{{ path('about') }}" class="nav-link"> {{ 'nav.about'|trans }} </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="{{ path('services') }}" id="navdrop" role="button" data-toggle="dropdown" data-hover="dropdown">{{ 'nav.services'|trans }} </a>
                                <div class="dropdown-menu" aria-labelledby="navdrop">
                                    <a href="{{ path('blog') }}" class="dropdown-item">{{ 'nav.blog'|trans }}</a>
                                    <a href="#" class="dropdown-item">Service2</a>
                                    <a href="#" class="dropdown-item">Service3</a>
                                </div>
                                
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('search') }}" class="nav-link"> {{ 'nav.search'|trans }} </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('contact') }}" class="nav-link">{{ 'nav.contact'|trans }} </a>
                            </li>
                        </ul>
                    <!--</div>-->
<!--|| Locale Switch ||-->
<div class="container">
    <ul class="lang_switch_ul">
            <li><a href="/en" class="thumbnail"><img src="{{ asset('images/flags/us.png') }}" alt="{{ 'locale.english'|trans }}"></li>
            <li><a href="/de" class="thumbnail"><img src="{{ asset('images/flags/de.png') }}" alt="{{ 'locale.german'|trans }}"></li> 
    </ul>
</div>
<!--|| END: Locale Switch ||-->


                    </div>
                </nav>
        {% endblock navbar %}

    <div class="container">
        <!--|| The content of the Homepage will be here ||-->
        
        {% block body %}

        
        {% endblock body %}
        
    </div>


<!--|| The content of the Sidebar will be here ||-->
<aside class="wrapper sidebar">
        {% block sidebar %}

        {% endblock %}
    </aside>

<!--footer starts from here-->
<footer class="footer">
        {% block footer %}
        <div class="container bottom_border">
        <div class="row">
        <div class=" col-sm-4 col-md col-sm-4  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
        <!--headin5_amrc-->
        <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
        <p><i class="fa fa-phone"></i>  +91-9999878398  </p>
        <p><i class="fa fa fa-envelope"></i> info@example.com  </p>
        
        
        </div>
        
        
        <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
        <li><a href="#">Image Rectoucing</a></li>
        <li><a href="#">Clipping Path</a></li>
        <li><a href="#">Hollow Man Montage</a></li>
        <li><a href="#">Ebay & Amazon</a></li>
        <li><a href="#">Hair Masking/Clipping</a></li>
        <li><a href="#">Image Cropping</a></li>
        </ul>
        <!--footer_ul_amrc ends here-->
        </div>
        
        
        <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
        <li><a href="#">Remove Background</a></li>
        <li><a href="#">Shadows & Mirror Reflection</a></li>
        <li><a href="#">Logo Design</a></li>
        <li><a href="#">Vectorization</a></li>
        <li><a href="#">Hair Masking/Clipping</a></li>
        <li><a href="#">Image Cropping</a></li>
        </ul>
        <!--footer_ul_amrc ends here-->
        </div>
        
        
        <div class=" col-sm-4 col-md  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
        <!--headin5_amrc ends here-->
        
        <ul class="footer_ul2_amrc">
        <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
        <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
        <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
        </ul>
        <!--footer_ul2_amrc ends here-->
        </div>
        </div>
        </div>
        
        
        <div class="container">
        <ul class="foote_bottom_ul_amrc">
        <li><a href="{{ path('homepage') }}">{{ 'nav.home'|trans }}</a></li>
        <li><a href="{{ path('about') }}">{{ 'nav.about'|trans }}</a></li>
        <li><a href="{{ path('services') }}">{{ 'nav.services'|trans }}</a></li>
        <li><a href="{{ path('blog') }}">{{ 'nav.blog'|trans }}</a></li>
        <li><a href="{{ path('contact') }}">{{ 'nav.contact'|trans }}</a></li>
        </ul>
        <!--foote_bottom_ul_amrc ends here-->
        <p class="text-center">FrogBlog @ 2019 | Designed & created by <a href="mailto://jmc@hyperclock.eu">JMColeman (hyperclock)</a></p>
        
        <ul class="social_footer_ul">
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
        <!--social_footer_ul ends here-->
        </div>
        {% endblock footer %}
        </footer>
        
            
    
        {% block javascripts %}
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"
            integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous">
        </script>
        {% endblock javascripts %}

    
</body>

</html>